*{
    box-sizing: border-box;
}
body {
    background-color: #002D62;
    margin: 0px 40px;
}
div, a {
    color: white;
}
.img{
    margin:0px 100px;
    height: 400px;
    width: 400px;
}
.menu-container{
    display: flex;
    gap: 2em;
    flex-direction: row;
}
a {
    text-decoration: none;
}